@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);
  --shadow-custom: 0 1px 1px rgba(0,0,0,0.05), 0px 4px 6px rgba(34,42,53,0.04),0px 24px 68px rgba(47, 48,55,0.05),0px 2px 3px rgba(0, 0, 0, 0.04);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}
